body {
    background: url('https://c0.wallpaperflare.com/preview/198/135/731/cyber-attack-abstract-access.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgb(0, 174, 255);
  }
  
  h2 {
    color: rgb(0, 255, 234);
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(0, 255, 200);
    background: transparent;
    color: rgb(0, 255, 213);
    border-radius: 5px;
  }
  
  input::placeholder {
    color: rgb(0, 255, 200);
  }
  
  button {
    background: rgb(0, 255, 234);
    color: black;
    padding: 10px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #3bffce;
  }
  
  .register-link {
    color: rgb(0, 255, 242);
    display: block;
    margin-top: 15px;
    text-decoration: none;
  }
  
  .register-link:hover {
    text-decoration: underline;
  }
  